<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inicio</title>
</head>
<body>

<div id="Inicio1">
    <h2>Bienvenidos a <br>La guarida del gordo friki</h2>
    <img src="/static/img/gordo.png" id="img1">
    <hr id="hr1">
    <a href="/paginas" id="link1">Páginas</a>
    <a href="/recomendaciones" id="link3">Recomendaciones</a> 
    <hr id="hr2">
    <h3 id="titulo1">Juegos:</h3>
    <h3 id="titulo2">Rocket League</h3>
    <img src="/static/img/rocket_league.png" id="muestra6">
    <h3 id="titulo3">Dead By Daylight Mobile</h3>
    <img src="/static/img/dbd.jpg" id="muestra7">
</div>
<footer>
    <p>&copy; Página realizada por Jorge Hernan Mapura Londoño. 2020</p>		
</footer>
<div class="clear"></div>
</body>
</html>