<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Sansita+Swashed:wght@600&family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Páginas</title>
</head>
<body>
<div id="Inicio2">
    <h1>Páginas web</h1>
    <img src="/static/img/gordo.png" id="img1">
    <hr id="hr1">
    <a href="/" id="link1">Inicio</a>
    <a href="/recomendaciones" id="link3">Recomendaciones</a> 
    <hr id="hr2">
</div>
<div id="contenido"></div>
    <a href="https://www.facebook.com/groups/2709095439160546/?ref=share" class="facebook">Facebook:</a>
    <img src="/static/img/muestra1.png" id="muestra1">
    <a href="https://instagram.com/gordofrikiyt?igshid=pp5ham1ocu7z" class="instagram">Instagram:</a>
    <img src="/static/img/muestra2.png" id="muestra2">
    <a href="https://www.youtube.com/c/GordoFriki" class="youtube">Youtube:</a>
    <img src="/static/img/muestra3.png" id="muestra3">
    <a href="https://www.twitch.tv/gordofrikiyt" class="twitch">Twitch:</a>
    <img src="/static/img/muestra4.png" id="muestra4">
</div>
<footer>
    <p>&copy; Página realizada por Jorge Hernan Mapura Londoño. 2020</p>		
</footer>
<div class="clear"></div>
</body>
</html>